<div class="mainhead">
    <div class="centername">温州赫斯服装生产库存管理系统</div>
    <div class="scstatus" id="scstatus">

    </div>
    <div class="mainmenu" onclick="showmenu()">
        <span class="toshow">菜单<img src="../build/img/blue_unfold.png"></span>
        <ul class="mainul">
            <li><a href="../views/index.html">首页</a></li>
            <li><a href="../views/login.html">登录</a></li>
            <li onclick="changeSystem()">切换系统</li>
            <!-- <li><a href="../views/newwork.html">创建工单</a></li> -->
            <!-- <li onclick="showpick(10)">调整打印</li> -->
        </ul>
    </div>
    <script id="headrst" type="text/html">
        <span class="scgreen"></span>
            <span class="scordinary">扫码枪状态</span>
            <div class="status clearfix">
                <span class="nowstatu" >{{if status==0}}空闲{{/if}}{{if status==1}}扫码贴标{{/if}}{{if status==2}}扫码分拣{{/if}}{{if status==3}}兄弟打印{{/if}}<img src="../build/img/gray_unfold.png"></span>
                <ul class="statusul">
                    <li onclick="Printerch(0)">空闲</li>
                    <li onclick="Printerch(1)">扫码贴标</li>
                    <li onclick="Printerch(2)">扫码分拣</li>
                    <li onclick="Printerch(3)">兄弟打印</li>
                </ul>
            </div>
        </script>
</div>
<script>
    //扫码枪状态
    var Scavestaus = 0;
    $(function () {
        getheard();
    })
    function printas() {
        window.external.OpenForm("31");
        window.external.givesize("A小猪长袖", "小猪配企", "XXL", "1", '1', '22', '43', '34');
        window.external.islood(dayinurl);
        window.external.printjs(1, dayinurl);
    }
    function comeback() {
        window.history.go(-1);
    }
    function getheard() {
        Scavestaus = localStorage.getItem("Scavestaus") || 0;
		var data1 = { status: Scavestaus };
		var html = template('headrst', data1);
		document.getElementById('scstatus').innerHTML = html;
        // var myDate = new Date();
        // $.ajax({
        //     url: headurl + "/userController/gettamp?URL=" + myDate.getMinutes() + myDate.getSeconds(),
        //     success: function (data) {
        //         var data1 = { status: data };
        //         Scavestaus = data;
        //         var html = template('headrst', data1);
        //         document.getElementById('scstatus').innerHTML = html;
        //         if (data == 0) {
        //             $(".saozhuang").html("空闲");
        //         } else if (data == 1) {
        //             $(".saozhuang").html("扫码贴标");
        //         } else if (data == 2) {
        //             $(".saozhuang").html("扫码分拣");
        //         } else if (data == 3) {
        //             $(".saozhuang").html("兄弟打印");
        //         }
        //     }
        // })
    }
    function showmenu() {
        if($('.mainul').css('display') == 'block') {
			$('.mainul').css('display', 'none');
		}else{
			$('.mainul').css('display', 'block');
		}
    }
    function scalabel(id) {
        // window.external.OpenForm("31");
        // window.external.givesize("A小猪长袖","小猪配企","XXL","1",'1','22');
        // window.external.islood(dayinurl);
        // window.external.printjs(1,dayinurl);
        var myDate = new Date();
        window.external.OpenForm(id);
        //$('#sweepcode').modal('hide');
        //$('#sortcode').modal('hide');
        if (Scavestaus == 1) {
            $.ajax({
                url: headurl + "/OrderController/labelproduct?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
                success: function (data) {
                    var data = eval('(' + data + ')');
                    if (data.success == 1) {
                        showlabel(id);
                        $.ajax({
                            url: headurl + "/OrderController/runOrderdetail?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
                            success: function (data) {
                                var data = eval('(' + data + ')');
                                if (data.success == 1) {
                                    var e = data.body.itemnum[0];
                                    var a = data.body.itemnum;
                                    var b = data.body.stname;
                                    var c = data.body.size;
                                    var d = data.body.num;
                                    var colorname = data.body.colorname;
                                    var sizename = data.body.sizename;
                                    var stylename = data.body.stylename;
                                    var boid = data.body.boid ? data.body.boid : 0;
                                    var sumnum = data.body.sumnum ? data.body.sumnum : 0;
                                    window.external.givesize(a, b, c, d, e, colorname, sizename, stylename, boid, sumnum);
                                    window.external.printjs(1, dayinurl);
                                } else {
                                    tipError1(data.msg);
                                }
                            }
                        })
                    } else {
                        tipError1(data.msg);
                    }
                }
            })

        } else if (Scavestaus == 2) {
            $.ajax({
                url: headurl + "/OrderController/pickproduct?roid=" + id + "&Warehouse_no=wdt-wh2" + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
                success: function (data) {
                    var data = eval('(' + data + ')');
                    if (data.success == 1) {
                        showpick(id);
                    } else {
                        tipError1(data.msg);
                    }

                }
            })
        }
        else if (Scavestaus == 3) {
            $.ajax({
                url: headurl + "/OrderController/runOrderdetail?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
                success: function (data) {
                    var data = eval('(' + data + ')');
                    if (data.success == 1) {
                        var filepath = data.body.filepath;
                        var num = data.body.num;
                        window.external.cprintv(filepath, num);
                    } else {
                        tipError1(data.msg);
                    }
                }
            })
        }
        else if (Scavestaus == 0) {
            tipError1('扫码枪处于空闲状态');
        }
    }
    //改变扫码枪状态，从而改变打印机
    function Printerch(type) {
        localStorage.setItem("Scavestaus", type);
		getheard();
        // $.ajax({
        //     url: headurl + "/userController/savetamp?status=" + type,
        //     type: 'post',
        //     success: function (data) {
        //         getheard();
        //     }
        // })
    }
    //显示扫码贴标的界面
    function showlabel(id) {
        var myDate = new Date();
        $.ajax({
            url: headurl + "/OrderController/buyOrderdetail?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
            success: function (data) {
                var data = eval('(' + data + ')');
                var html = template('labelsmodal', data.body);
                document.getElementById('sweepcode').innerHTML = html;
                $('#sweepcode').modal('show');
            }
        })
    }
    //显示扫码分拣的界面
    function showpick(id) {
        var myDate = new Date();
        $.ajax({
            url: headurl + "/OrderController/buyOrderdetail?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
            success: function (data) {
                var data = eval('(' + data + ')');
                var html = template('pickmodal', data.body);
                document.getElementById('sortcode').innerHTML = html;
                $('#sortcode').modal('show');
                // if(data.body.workstaus == 3){
                // 	var boid = data.body.boid;
                // 	gotoprint(boid);
                // }
            }
        })
    }
    //打印页面
    function gotoprint(boid) {
        window.open('../views/printer.html?boid=' + boid);
    }
    //处理键盘事件 禁止后退键（Backspace）密码或单行、多行文本框除外       
    function forbidBackSpace(e) {
        var ev = e || window.event; //获取event对象          
        var obj = ev.target || ev.srcElement; //获取事件源             
        var t = obj.type || obj.getAttribute('type');
        //获取事件源类型            
        //获取作为判断条件的事件类型          
        var vReadOnly = obj.readOnly;
        var vDisabled = obj.disabled;
        //处理undefined值情况            
        vReadOnly = (vReadOnly == undefined) ? false : vReadOnly;
        vDisabled = (vDisabled == undefined) ? true : vDisabled;
        //当敲Backspace键时，事件源类型为密码或单行、多行文本的，             
        //并且readOnly属性为true或disabled属性为true的，则退格键失效            
        var flag1 = ev.keyCode == 8 && (t == "password" || t == "text" || t == "textarea") && (vReadOnly == true || vDisabled == true);
        //当敲Backspace键时，事件源类型非密码或单行、多行文本的，则退格键失效           
        var flag2 = ev.keyCode == 8 && t != "password" && t != "text" && t != "textarea";
        //判断           
        if (flag2 || flag1) return false;
    }
    //禁止后退键  作用于IE、Chrome       
    document.onkeydown = forbidBackSpace;


    // 切换系统
	function changeSystem() {
		if (localStorage.systemType == 1) {
			localStorage.setItem("systemType", 0)
			$(".centername").html('温州赫斯服装生产库存管理系统')
		} else {
			localStorage.setItem("systemType", 1)
			$(".centername").html('温州赫斯服装生产库存管理系统（复制文件版）')
		}
	}

</script>