<div class="mainhead">
	<span class="comeback" onclick="comeback()"><img src="../build/img/back.png">返回</span>
	<div class="centername">温州赫斯服装生产库存管理系统</div>
	<div class="mainmenu" onclick="showmenu()">
		<span class="toshow">菜单<img src="../build/img/blue_unfold.png"></span>
		<ul class="mainul">
			<li><a href="../views/index.html">首页</a></li>
			<li><a href="../views/login.html">登录</a></li>
			<!-- <li><a href="../views/newwork.html">创建工单</a></li> -->
			<li onclick="exportkucun()">导入库存</li>
			<li onclick="changeSystem()">切换系统</li>
		</ul>
	</div>
	<div class="myshow">
		<div id="guanbi">关闭</div>
		<div id="showcontent">

		</div>
	</div>
	<div class="scstatus" id="scstatus">

	</div>
	<script id="headrst" type="text/html">
	<span class="scgreen"></span>
		<span class="scordinary">扫码枪状态</span>
		<div class="status clearfix">
			<span class="nowstatu" >{{if status==0}}空闲{{/if}}{{if status==1}}扫码贴标{{/if}}{{if status==2}}扫码分拣{{/if}}{{if status==3}}兄弟打印{{/if}}<img src="../build/img/gray_unfold.png"></span>
			<ul class="statusul">
				<li onclick="Printerch(0)">空闲</li>
				<li onclick="Printerch(1)">扫码贴标</li>
				<li onclick="Printerch(2)">扫码分拣</li>
				<li onclick="Printerch(3)">兄弟打印</li>
			</ul>
		</div>
	</script>
	<div class="modal fade tipModal" id="exportmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" style="width:520px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img
							src="../build/img/win_close.png"></button>
					<div class="modal-title" style="padding-top: 14px;padding-left: 16px;color: #666;font-weight:bold;">
						导入库存</div>
				</div>
				<div class="modal-body clearfix bottomlen">
					<div style="display: flex; padding: 20px;">文件路径: <input type="file" id="exportku" name="file"
							multiple="multiple" /></div>
					<div style="display: flex; padding: 20px;">模板: <a href="../build/img/1.xls">模板下载</a></div>
				</div>
				<div class="btdiv clearfix">
					<button class="btn btn-blue yesbtn" onclick="postData()">确定</button>
					<a class="btn btn-default nobtn" data-dismiss="modal" aria-hidden="true">取 消</a>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal弹框 myModal-delete删除 -->
</div>
<script>

	$(function () {
		if(localStorage.systemType == 1) {
			$(".centername").html('温州赫斯服装生产库存管理系统（复制文件版）')
		}else{
			$(".centername").html('温州赫斯服装生产库存管理系统')
		}
		// $.ajax({
		// 	url: headurl + "/OrderController/warehouseQuery",
		// 	success: function (data) {
		// 		console.log(data)

		// 	}
		// })
	})
	//扫码枪状态
	var Scavestaus = 0;
	$(function () {
		getheard();
	})
	function exportkucun() {
		$('#exportmodal').modal('show');
	}
	function postData() {
		var formData = new FormData();
		formData.append("file", $("#exportku")[0].files[0]);
		$.ajax({
			url: headurl + '/OrderController/inputStore',
			type: 'post',
			data: formData,
			cache: false,
			processData: false,
			contentType: false,
			success: function (data) {
				$('#exportmodal').modal('hide');
				var data = eval('(' + data + ')');
				if (data.success == 1) {
					tipSuccess("导入成功");
				} else {
					$('#msgError').html(data.msg);
					tipError(data.msg);
				}
			},
			error: function (err) {
				$('#exportmodal').modal('hide');
				tipError(err || '请求失败');
			}
		})
		$("#exportku").val('')
	}
	function comeback() {
		window.history.go(-1);
	}
	function getheard() {
		Scavestaus = localStorage.getItem("Scavestaus") || 0;
		var data1 = { status: Scavestaus };
		var html = template('headrst', data1);
		document.getElementById('scstatus').innerHTML = html;

		// var myDate = new Date();
		// $.ajax({
		// 	url: headurl + "/userController/gettamp?URL=" + myDate.getMinutes() + myDate.getSeconds(),
		// 	success: function (data) {
		// 		var data1 = { status: data };
		// 		Scavestaus = data;
		// 		var html = template('headrst', data1);
		// 		document.getElementById('scstatus').innerHTML = html;
		// 	}
		// })
	}
	function showmenu() {
		if($('.mainul').css('display') == 'block') {
			$('.mainul').css('display', 'none');
		}else{
			$('.mainul').css('display', 'block');
		}
		
	}
	function scalabel(id) {
		// window.external.OpenForm("31");
		// window.external.givesize("A小猪长袖","小猪配企","XXL","1",'1','22');
		// window.external.islood(dayinurl);
		// window.external.printjs(1,dayinurl);
		var myDate = new Date();
		window.external.OpenForm(id);
		//$('#sweepcode').modal('hide');
		//$('#sortcode').modal('hide');
		if (Scavestaus == 1) {
			$.ajax({
				url: headurl + "/OrderController/labelproduct?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						showlabel(id);
						$.ajax({
							url: headurl + "/OrderController/runOrderdetail?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
							success: function (data) {
								var data = eval('(' + data + ')');
								if (data.success == 1) {
									var e = data.body.itemnum[0];
									var a = data.body.itemnum;
									var b = data.body.stname;
									var c = data.body.size;
									var d = data.body.num;
									var colorname = data.body.colorname;
									var sizename = data.body.sizename;
									var stylename = data.body.stylename;
									var boid = data.body.boid ? data.body.boid : 0;
									var sumnum = data.body.sumnum ? data.body.sumnum : 0;
									window.external.givesize(a, b, c, d, e, colorname, sizename, stylename, boid, sumnum);
									window.external.printjs(1, dayinurl);
								} else {
									tipError1(data.msg);
								}
							}
						})
					} else {
						tipError1(data.msg);
					}
				}
			})

		} else if (Scavestaus == 2) {
			$.ajax({
				url: headurl + "/OrderController/pickproduct?roid=" + id + "&Warehouse_no=01" + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						showpick(id);
					} else {
						tipError1(data.msg);
					}

				}
			})
		}
		else if (Scavestaus == 3) {
			$.ajax({
				url: headurl + "/OrderController/runOrderdetail?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						var filepath = data.body.filepath;
						var num = data.body.num;
						window.external.cprintv(filepath, num);
					} else {
						tipError1(data.msg);
					}
				}
			})
		}
		else if (Scavestaus == 0) {
			tipError1('扫码枪处于空闲状态');
		}
	}
	//改变扫码枪状态，从而改变打印机
	function Printerch(type) {
		localStorage.setItem("Scavestaus", type);
		getheard();
		// $.ajax({
		// 	url: headurl + "/userController/savetamp?status=" + type,
		// 	type: 'post',
		// 	success: function (data) {
		// 		getheard();
		// 	}
		// })
	}
	//显示扫码贴标的界面
	function showlabel(id) {
		var myDate = new Date();
		$.ajax({
			url: headurl + "/OrderController/buyOrderdetail?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
			success: function (data) {
				var data = eval('(' + data + ')');
				var html = template('labelsmodal', data.body);
				document.getElementById('sweepcode').innerHTML = html;
				$('#sweepcode').modal('show');
			}
		})
	}
	//显示扫码分拣的界面
	function showpick(id) {
		var myDate = new Date();
		$.ajax({
			url: headurl + "/OrderController/buyOrderdetail?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
			success: function (data) {
				var data = eval('(' + data + ')');
				var html = template('pickmodal', data.body);
				document.getElementById('sortcode').innerHTML = html;
				$('#sortcode').modal('show');
				// if(data.body.workstaus == 3){
				// 	var boid = data.body.boid;
				// 	gotoprint(boid);
				// }
			}
		})
	}
	//打印页面
	function gotoprint(boid) {
		window.open('../views/printer.html?boid=' + boid);
	}
	//处理键盘事件 禁止后退键（Backspace）密码或单行、多行文本框除外       
	function forbidBackSpace(e) {
		var ev = e || window.event; //获取event对象          
		var obj = ev.target || ev.srcElement; //获取事件源             
		var t = obj.type || obj.getAttribute('type');
		//获取事件源类型            
		//获取作为判断条件的事件类型          
		var vReadOnly = obj.readOnly;
		var vDisabled = obj.disabled;
		//处理undefined值情况            
		vReadOnly = (vReadOnly == undefined) ? false : vReadOnly;
		vDisabled = (vDisabled == undefined) ? true : vDisabled;
		//当敲Backspace键时，事件源类型为密码或单行、多行文本的，             
		//并且readOnly属性为true或disabled属性为true的，则退格键失效            
		var flag1 = ev.keyCode == 8 && (t == "password" || t == "text" || t == "textarea") && (vReadOnly == true || vDisabled == true);
		//当敲Backspace键时，事件源类型非密码或单行、多行文本的，则退格键失效           
		var flag2 = ev.keyCode == 8 && t != "password" && t != "text" && t != "textarea";
		//判断           
		if (flag2 || flag1) return false;
	}
	//禁止后退键  作用于IE、Chrome       
	document.onkeydown = forbidBackSpace;


	//显示数据
	function showshuju(text) {
		//$("#showcontent").html(JSON.stringify(text));
		//$(".myshow").show();
	}
	$("#guanbi").click(function () {
		$(".myshow").hide();
	})

	// 切换系统
	function changeSystem() {
		if (localStorage.systemType == 1) {
			localStorage.setItem("systemType", 0)
			$(".centername").html('温州赫斯服装生产库存管理系统')
		} else {
			localStorage.setItem("systemType", 1)
			$(".centername").html('温州赫斯服装生产库存管理系统（复制文件版）')
		}
	}

</script>