
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>测试web页面</title>
    <link rel="stylesheet" href="../build/css/index.css">
</head>
<body>
    <button >合成图片</button>
<script src="../build/js/vendor.js"></script>
<script src="../build/js/canvg.min.js"></script>
<script src="../build/js/html2canvas.js"></script>
<script src="../build/js/jsPdf.debug.js"></script>
<script src="../build/js/polyfill.min.js"></script>
<script src="../build/js/JsBarcode.all.js"></script>
	<script>
	$(function () {

});
</script>
</body>
</html>