<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>温州赫斯服装生产库存管理系统</title>
	<link rel="shortcut  icon" type="image/x-icon" href="/iext/favicon.ico" media="screen"  />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../build/css/bootstrap.css">
    <link rel="stylesheet" href="../build/css/index.css">
    <link rel="stylesheet" href="../build/css/style.css">
	<script src="../build/js/jquery-1.11.3.min.js"></script>
	<script src="../build/js/bootstrap.js"></script>
</head>
<body>
<div class="link">
</div>
<div class="head">
</div>
<div class="mainbody" style="margin-top: 8px;">
	<div class="logindiv">
		<form onkeypress="return press(event)">
		<p><label>登录</label></p>
		<p><input type="text" placeholder="请输入账号" id="account"></p>
		<p><input type="password" placeholder="请输入密码" id="password"></p>
		</form>
		<div class="errornum">账号不能为空</div>
		<div class="loginne"><button class="loginbt" onclick="login()">登 录</button></div>
	</div>
</div>
<script>
$(function(){
	$('.link').load('../views/link.html');
	$('.head').load('../views/header.html');
	 /* window.onload = function() {
         var returnvaluefromcs = window.external.OpenForm("js");
         alert(returnvaluefromcs);
     } */
})
function Messageaa(message) {
            $('#account').val(message);
        };
function login(){
	var account=$.trim($('#account').val());
	var password=$.trim($('#password').val());
	if(account==""||/^\s*$/.test(account)){
		$('.errornum').css('display','block')
		$('.errornum').text("账号不能为空");
	   	return false;
	}
	if(password==""||/^\s*$/.test(password)){
		$('.errornum').css('display','block')
		$('.errornum').text("密码不能为空");
	   	return false;
	}
	if(account=='admin' && password=='123456'){
		location.href="../views/index.html";
	}else{
		$('.errornum').css('display','block')
		$('.errornum').text("账号或密码错误");
	   	return false;
	}
}
$('input').focus(function(){
	$('.errornum').css('display','none')
})
 /*回车提交 */
 function press(event){ 
   if (event.keyCode == 13) {  
	   login();
      return false ;  
    }  
   return true;
 }
</script>
</body>
</html>