<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>生产执行单管理</title>
	<link rel="shortcut  icon" type="image/x-icon" href="/iext/favicon.ico" media="screen" />
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../build/css/bootstrap.css">
	<link rel="stylesheet" href="../build/css/index.css">
	<link rel="stylesheet" href="../build/css/style.css">
	<link rel="stylesheet" href="../build/css/main.css">
	<link rel="stylesheet" href="../build/css/pageNav.css">
	<link href="../build/css/blue.css" rel="stylesheet">
	<script src="../build/js/jquery-1.11.3.min.js"></script>
	<script src="../build/js/art-template.js"></script>
</head>

<body>
	<div class="link">
	</div>
	<div class="head">
	</div>
	<div class="indexbody" id="indexbody">

	</div>
	<script id="executions" type="text/html">
	<div class="bread">
		<a href="../views/index.html">首页</a>{{if woid}}>><a href="../views/orderList.html">订单管理</a>{{/if}}{{if woid}}>><a href="../views/workorder.html?boid={{poid}}">工单管理</a>{{/if}}>><a href="../views/executionList.html?woid={{woid}}">生产执行单管理</a>
	</div>
	<div class="searchdiv clearfix">
		<span class="production" onclick="ifproduction()"><img src="../build/img/publish.png">导出图片</span>
		<div class="morebtn">功能按钮区
			<ul>
				<li onclick="howmuchall()">全部导出</li>
			</ul>
		</div>
		{{if woid}}<span class="workordernum">工单：{{woid}}</span>{{/if}}
		<div class="searchmin">
			<span>是否导出：</span>
			<select id="isexport" onchange="search()">
				<option value="">全部</option>
				<option value="1" {{if isexport==1}}selected{{/if}}>未导出</option>
				<option value="2" {{if isexport==2}}selected{{/if}}>已导出</option>
			</select>
			<span>状态：</span>
			<select id="status" onchange="search()">
				<option value="">全部</option>
				<option value="1" {{if status==1}}selected{{/if}}>执行中({{if runningcount}}{{runningcount}}{{else}}0{{/if}})</option>
				<option value="2" {{if status==2}}selected{{/if}}>中断({{if interruptcount}}{{interruptcount}}{{else}}0{{/if}})</option>
				<option value="3" {{if status==3}}selected{{/if}}>完成({{if finishcount}}{{finishcount}}{{else}}0{{/if}})</option>
				<option value="4" {{if status==4}}selected{{/if}}>导出异常({{if exceptioncount}}{{exceptioncount}}{{else}}0{{/if}})</option>
			</select>
			<span>工艺：</span>
			<select id="type" onchange="search()">
				<option value="">全部</option>
				<option value="1"{{if type==1}}selected{{/if}}>A</option>
				<option value="2"{{if type==2}}selected{{/if}}>B</option>
				<option value="3"{{if type==3}}selected{{/if}}>C</option>
				<option value="4"{{if type==4}}selected{{/if}}>D</option>
				<option value="5"{{if type==5}}selected{{/if}}>E</option>
			</select>
			<input type="text" placeholder="请输入商家编号" id="text" value="{{text}}" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\.]/g,'')">
			<img src="../build/img/search.png" class="searchimg" onclick="search()">
		</div>
	</div>
	<div class="tablediv">
		<table>
			<tr>
				<th style="width: 5%;"><div class="form-checkbox checkbox-all"><input type="checkbox"  name="square-checkbox"></div></th>
				<th>编号</th>
				<!-- <th style="width: 10%;">缩略图</th> -->
				<th style="width: 10%;">商家编号</th>
				<th style="width: 10%;">印花</th>
				<th style="width: 5%;">尺寸</th>
				<th style="width: 5%;">数量</th>
				<th style="width: 10%;">状态</th>
				<th style="width: 10%;">执行时间</th>
				<th style="width: 10%;">贴标数量</th>
				<th style="width: 5%;">分拣数量</th>
				<th>操作</th>
			</tr>
			{{if pagelist.total>0}}
			{{each pagelist.result as value i}}
			<tr>
				<td>
				<div class="form-checkbox">
					<input type="checkbox"  name="square-checkbox"  class="form-radio" value="{{value.roid}}" >
				</div>
				</td>
				<td>{{value.roid}}</td>
				<!-- <td class="exeimg" onclick="toshowbig(this)"><img src="{{value.url}}"><input type="hidden" value="{{value.url}}" class="maximgurl"></td> -->
				<td>{{value.itemnum}};{{value.cargonumber}}</td>
				<td>{{value.stname}}</td>
				<td>{{value.size}}</td>
				<td>{{value.num}}</td>
				<td>{{if value.status==1}}执行中{{/if}}
					{{if value.status==2}}中断{{/if}}
					{{if value.status==3}}完成{{/if}}
					{{if value.status==4}}导出异常{{/if}},
					{{if value.isexport==1}}未导出{{/if}}
					{{if value.isexport==2}}已导出{{/if}}
					<div class="exename">
						订单：{{value.orderid}}
					</div>
				</td>
				<td>{{value.createtime}}</td>
				<td>{{value.labelnum}}</td>
				<td>{{value.picknum}}</td>
				<td class="dosome">
					<div class="showul">
						<span>操作</span>
						<ul style="left: 20%;">
							<li onclick="confirmdelete('{{value.roid}}','isexported','是否要导出合成图？')">导出合成图</li>
							<li onclick="oneprinte({{value.roid}})">打印标识</li>
							{{if value.status==1}}<li onclick="stoponeex({{value.roid}})">停产</li>{{/if}}
						</ul>
					</div>
				</td>
			</tr>
			{{/each}}
			{{/if}}
		</table>
		{{if pagelist.total>0}}<nav aria-label="Page navigation" class="page-nav-outer" id="PageNavId"></nav>{{/if}}
			{{if pagelist.total<=0}}
				<div class="emptyContent">
					<img src="../build/img/no_no.png">
					<p>暂无执行单相关内容</p>
				</div>
			{{/if}}
	</div>
	</script>
	<!-- 图片信息 -->
	<div class="modal fade tipModal hiddenimg" id="imgshow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" style="width:447px;height:291px;">
			<div class="modal-content">
				<img class="maximg" src="">
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal弹框 myModal-delete删除 -->
	<!-- 进度条信息 -->
	<div class="modal fade tipModal hiddenimg" id="jindu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" style="width:447px;height:291px;margin-top: 25%;">
			<div class="modal-content">
				<div class="box">
					<div class="tbox">
						<div class="tiao"></div>
					</div>
					<div class="ok">正在导出，请稍后…</div>
					<div class="isover"></div>
					<div class="gotobtn"><button onclick="gotowhile()">前往文件夹</button></div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal弹框 myModal-delete删除 -->
	<!-- 停产信息 -->
	<div class="modal fade tipModal" id="stopmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">

	</div><!-- /.modal弹框 myModal-delete删除 -->
	<script type="text/html" id="stopmodalmin">
	<div class="modal-dialog" style="width:520px;">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="../build/img/win_close.png"></button>
            <div class="modal-title" style="padding-top: 14px;padding-left: 16px;color: #666;font-weight:bold;">停止生产<span class="inforn">填写停产信息</span></div>
         </div>
         <div class="modal-body clearfix bottomlen" style="padding-bottom:0;">
         	<div class="inforbody">
         		<p><label>来自订单：</label><span class="modalorderid">{{orderid}}</span></p>
         		<ul class="ingorul clearfix">
         			<li class="modalitemnum">{{itemnum}}</li>
         			<li class="modalitemnum">{{cargonumber}}</li>
         			<li class="modalstname">{{stname}}</li>
         			<li class="modalsize">{{size}}</li>
         		</ul>
         		<ul class="stopsul clearfix">
         			<li style="padding-top: 4px;"><label>需要生产：</label><span class="modalnum">{{num}}</span></li>
         			<li><label>停产数量：</label><input type="number" class="stopnuminput" placeholder="请输入停产数量" onkeyup="changenum()"></li>
         			<li><div class="form-checkbox allover"><input type="checkbox"  name="square-checkbox"><span style="padding-left:8px;">全部停产</span></div></li>
         			<li><label>停产后将继续生产：</label><span class="modalleftnum">0</span></li>
				 </ul>
				 <span class="errorttp">请正确填写停产数目</span>
         	</div>
         </div>
         <div class="btdiv clearfix">
			<button class="btn btn-blue yesbtn" onclick="stopclick({{roid}})">确定</button>
			<a class="btn btn-default nobtn" data-dismiss="modal"  aria-hidden="true">取 消</a>
		</div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</script>
	<!--旋转-->
	<div class="modal fade tipModal hiddenimg" id="logininghow" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:400px;height:300px;margin-top: 20%;">
			<div class="modal-content">
				<img src="../build/img/logining.gif">
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal弹框 myModal-delete删除 -->
	<script src="../build/js/bootstrap.js"></script>
	<script src="../build/js/jquery.icheck.min.js"></script>
	<script src="../build/js/main.js"></script>
	<script src="../build/js/pageNav.js"></script>
	<script src="../build/js/JsBarcode.all.js"></script>
	<script src="../build/js/html2canvas.js"></script>
	<script>
		var arr_tip_userid = new Array();
		var woid = getQueryString('woid');
		var successnum;
		var errornums;
		var errornum;
		if (woid == null) {
			woid = '';
		}
		var boid = getQueryString('boid');
		if (boid == null) {
			boid = '';
		}
		//判断选择框是否为空
		function ifproduction() {
			if (arr_tip_userid.length > 0) {
				confirmdelete("", 'isexporteds', '是否要导出印花和标识信息图？')
			} else {
				tipError('请选择印花');
			}
		}
		function search(pageNum) {
			var myDate = new Date();
			var text = $("#text").val();
			var status = $("#status").val();
			var type = $("#type").val();
			var isexport = $("#isexport").val();
			$.ajax({
				url: headurl + "/OrderController/runOrderList?woid=" + woid + "&boid=" + boid + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				data: { text: text, status: status, type: type, pageNum: pageNum, isexport: isexport },
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						var html = template('executions', data.body);
						document.getElementById('indexbody').innerHTML = html;
						icheckinit();
						if (data.body.pagelist.total > 0) {
							var pageNavObj = null;//用于储存分页对象
							pageNavObj = new PageNavCreate("PageNavId", { pageCount: data.body.pagelist.pages, currentPage: data.body.pagelist.pageNum, perPageNum: data.body.pagelist.pageSize });
							pageNavObj.afterClick(search);
						}
					} else {
						tipError(data.msg);
					}
				}
			})
			arr_tip_userid = [];
		}
		function search1(pageNum) {
			window.external.overstring();
			var myDate = new Date();
			var text = $("#text").val();
			var status = $("#status").val();
			var type = $("#type").val();
			var isexport = $("#isexport").val();
			$.ajax({
				url: headurl + "/OrderController/runOrderList?woid=" + woid + "&boid=" + boid + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				data: { text: text, status: status, type: type, pageNum: pageNum, isexport: isexport },
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						var html = template('executions', data.body);
						document.getElementById('indexbody').innerHTML = html;
						icheckinit();
						if (data.body.pagelist.total > 0) {
							var pageNavObj = null;//用于储存分页对象
							pageNavObj = new PageNavCreate("PageNavId", { pageCount: data.body.pagelist.pages, currentPage: data.body.pagelist.pageNum, perPageNum: data.body.pagelist.pageSize });
							pageNavObj.afterClick(search);
						}
					} else {
						tipError(data.msg);
					}
				}
			})
			arr_tip_userid = [];
		}
		$(function () {
			$('.link').load('../views/link.html');
			$('.head').load('../views/header2.html');
			var myDate = new Date();
			$.ajax({
				url: headurl + "/OrderController/runOrderList?woid=" + woid + "&boid=" + boid + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						var html = template('executions', data.body);
						document.getElementById('indexbody').innerHTML = html;
						icheckinit();
						if (data.body.pagelist.total > 0) {
							var pageNavObj = null;//用于储存分页对象
							pageNavObj = new PageNavCreate("PageNavId", { pageCount: data.body.pagelist.pages, currentPage: data.body.pagelist.pageNum, perPageNum: data.body.pagelist.pageSize });
							pageNavObj.afterClick(search);
						}
					} else {
						tipError(data.msg);
					}
				}
			})
		})
		function howmuchall() {
			var type = $("#type").val();
			if (!type) {
				tipError('请选择一种工艺');
				return false;
			}
			var myDate = new Date();
			$.ajax({
				url: headurl + "/OrderController/getExportCount?type=" + type + "&woid=" + woid + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.body.count <= 0) {
						tipError("没有可以导出的合成图");
						return false;
					} else {
						confirmdelete('', 'allprouct', '有' + data.body.count + '个合成图需要导出，导出可能会花费一段时间，是否继续导出？');
						sunnum = data.body.count;
					}
				}
			})
		}
		function sleep(numberMillis) {
			var now = new Date();
			var exitTime = now.getTime() + numberMillis;
			while (true) {
				now = new Date();
				if (now.getTime() > exitTime)
					return;
			}
		}

		//全部导出
		function allprouct() {
			var type = $("#type").val();
			$('#jindu').modal('show');
			$(".ok").html("正在导出，请稍后…");
			$('.isover').css('display', "none");
			$('.gotobtn').css('display', "none");
			jindunnum = 0;
			setTimeout(function () {
				zgi = 0;
				xh();
			}, 0);
			allpr = setTimeout(function () {
				var myDate = new Date();
				$.ajax({
					url: headurl + "/OrderController/allExport?type=" + type + "&woid=" + woid + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
					async: false,
					success: function (data) {
						var data = eval('(' + data + ')');
						if (data.success == 1) {
							var prolist = data.body.list;
							sunnum = prolist.length;
							successnum = prolist.length;
							for (var i = 0; i < prolist.length; i++) {
								if (jindunnum == i) {
									var e = prolist[i].itemnum[0];
									window.external.OpenForm2(prolist[i].roid);
									window.external.CreateBarcodePicture(prolist[i].roid, 200, 80);
									var a = prolist[i].itemnum;
									var c = prolist[i].size;
									var d = prolist[i].num;
									var g = '';
									var b = '';
									var x = 0;
									var y = 0;
									var angle = 0;
									var colorname = prolist[i].colorname;
									var sizename = prolist[i].sizename;
									var stylename = prolist[i].stylename;
									var boid = prolist[i].boid ? prolist[i].boid : 0;
									var sumnum = prolist[i].sumnum ? prolist[i].sumnum : 0;
									if (e != "E") {
										b = prolist[i].stname;
										g = prolist[i].filepath;
										x = prolist[i].x;
										y = prolist[i].y;
										angle = prolist[i].angle;
									}
									if (e != "E" && (g == undefined || !g)) {
										tipError(a + "印花不存在");
										changestatus(prolist[i].roid);
										return false;
									}
									if (e == "A" || e == "B") {
										if (g) {
											window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
											window.external.cexptai();
											//changestatus(prolist[i].roid);
										} else {
											changestatus(prolist[i].roid);
											add();
										}
									} else if (e == "D") {
										if (g) {
											window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
											window.external.cexptyunatu();
											for (var i = 0; i < d; i++) {
												window.external.printjs2(1, "Godex EZ920");
											}
										} else {
											changestatus(prolist[i].roid);
											add();
										}
									} else if (e == "C") {
										if (g) {
											window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
											for (var i = 0; i < d; i++) {
												window.external.printjs2(1, "Godex EZ920");
											}
											add();
										} else {
											changestatus(prolist[i].roid);
										}
									} else if (e == "E") {
										window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
										for (var i = 0; i < d; i++) {
											window.external.printjs2(1, "Godex EZ920");
										}
										add();
									}
								} else {
									whichgoto();
								}
								function whichgoto() {
									if (jindunnum == i) {
										var e = prolist[i].itemnum[0];
										window.external.OpenForm2(prolist[i].roid);
										window.external.CreateBarcodePicture(prolist[i].roid, 200, 80);
										var a = prolist[i].itemnum;
										var c = prolist[i].size;
										var d = prolist[i].num;
										var g = '';
										var b = '';
										var x = 0;
										var y = 0;
										var angle = 0;
										var colorname = prolist[i].colorname;
										var sizename = prolist[i].sizename;
										var stylename = prolist[i].stylename;
										var boid = prolist[i].boid ? prolist[i].boid : 0;
										var sumnum = prolist[i].sumnum ? prolist[i].sumnum : 0;
										if (e != "E") {
											b = prolist[i].stname;
											g = prolist[i].filepath;
											x = prolist[i].x;
											y = prolist[i].y;
											angle = prolist[i].angle;
										}
										if (e != "E" && (g == undefined || !g)) {
											tipError(a + "印花不存在");
											changestatus(prolist[i].roid);
											return false;
										}
										if (e == "A" || e == "B") {
											if (g) {
												window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
												window.external.cexptai();
											} else {
												changestatus(prolist[i].roid);
												add();
											}
										} else if (e == "D") {
											if (g) {
												window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
												window.external.cexptyunatu();
												for (var i = 0; i < d; i++) {
													window.external.printjs2(1, "Godex EZ920");
												}
											} else {
												changestatus(prolist[i].roid);
												add();
											}
										} else if (e == "C") {
											if (g) {
												window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
												for (var i = 0; i < d; i++) {
													window.external.printjs2(1, "Godex EZ920");
												}
												add();
											} else {
												changestatus(prolist[i].roid);
											}

										} else if (e == "E") {
											window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
											for (var i = 0; i < d; i++) {
												window.external.printjs2(1, "Godex EZ920");
											}
											add();
										}
									} else {
										whichgoto();
									}
								}
							}
						} else {
							tipError(data.msg);
						}
					}
				})
			}, 1000);
		}
		//判断是否有已导出
		function isexporteds() {
			var myDate = new Date();
			for (var i = 0; i < arr_tip_userid.length; i++) {
				if (i == 0) {
					var roidstr = "?roids=" + arr_tip_userid[i];
				} else {
					roidstr += "&roids=" + arr_tip_userid[i];
				}
			}
			$.ajax({
				url: headurl + "/OrderController/judgeExport" + roidstr + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				type: "post",
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						exporicodes(arr_tip_userid);
					} else {
						confirmdelete(arr_tip_userid, 'exporicodes', data.msg + ",是否强制导出");
					}
				}
			})
		}
		//导出多个标识
		function exporicodes(roids) {
			$("#confirmdelete").modal('hide');
			var myDate = new Date();
			successnum = roids.length;
			errornum = 0;
			for (var i = 0; i < roids.length; i++) {
				window.external.OpenForm2(roids[i]);
				window.external.CreateBarcodePicture(roids[i], 200, 80);
				$.ajax({
					url: headurl + "/OrderController/runOrderdetail?roid=" + roids[i] + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
					async: false,
					success: function (data) {
						var data = eval('(' + data + ')');
						if (data.success == 1) {
							var e = data.body.itemnum[0];
							var a = data.body.itemnum;
							var c = data.body.size;
							var d = data.body.num;
							var g = '';
							var b = "";
							var x = 0;
							var y = 0;
							var angle = 0;
							var colorname = data.body.colorname;
							var sizename = data.body.sizename;
							var stylename = data.body.stylename;
							var boid = data.body.boid ? data.body.boid : 0;
							var sumnum = data.body.sumnum ? data.body.sumnum : 0;
							if (e != "E") {
								b = data.body.stname;
								g = data.body.filepath;
								x = data.body.x;
								y = data.body.y;
								angle = data.body.angle;
							}
							if (e != "E" && (g == undefined || !g)) {
								tipError(a + "印花不存在");
								changestatus(roids[i]);
								return false;
							}
							if (e == "A" || e == "B") {
								if (g) {
									window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
									window.external.cexptai();
								} else {
									changestatus(roids[i]);
								}
							} else if (e == "D") {
								if (g) {
									window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
									window.external.cexptyunatu();
									for (var i = 0; i < d; i++) {
										window.external.printjs2(1, "Godex EZ920");
									}
								} else {
									changestatus(roids[i]);
								}
							} else if (e == "C") {
								if (g) {
									window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
									for (var i = 0; i < d; i++) {
										window.external.printjs2(1, "Godex EZ920");
									}
								} else {
									changestatus(roids[i]);
								}
							} else if (e == "E") {
								window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
								for (var i = 0; i < d; i++) {
									window.external.printjs2(1, "Godex EZ920");
								}
							}
						} else {
							tipError(data.msg);
						}
					}
				})
			}
			gotowhile();
			// if((successnum+errornum) == roids.length){
			// 	tipSuccess("已成功导出"+successnum+"个合成图，失败了"+errornum+"个合成图","search");
			// }
		}
		//判断是否有已导出
		function isexported(roid) {
			var myDate = new Date();
			$.ajax({
				url: headurl + "/OrderController/judgeExport?roids=" + roid + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				type: "post",
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						exporicode(roid);
					} else {
						confirmdelete(roid, 'exporicode', data.msg + ",是否强制导出");
					}
				}
			})
		}
		//导出标识
		function exporicode(id) {
			var myDate = new Date();
			window.external.OpenForm2(id);
			window.external.CreateBarcodePicture(id,200,80);
			successnum = 1;
			errornum = 0;
			$.ajax({
				url: headurl + "/OrderController/runOrderdetail?roid=" + id + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				async: false,
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						var e = data.body.itemnum[0];
						var a = data.body.itemnum;
						var c = data.body.size;
						var d = data.body.num;
						var g = '';
						var b = '';
						var x = 0;
						var y = 0;
						var angle = 0;
						var colorname = data.body.colorname;
						var sizename = data.body.sizename;
						var stylename = data.body.stylename;
						var boid = data.body.boid ? data.body.boid : 0;
						var sumnum = data.body.sumnum ?  data.body.sumnum : 0;
						if (e != "E") {
							b = data.body.stname;
							g = data.body.filepath;
							x = data.body.x;
							y = data.body.y;
							angle = data.body.angle;
						}
						if (e != "E" && (g == undefined || !g)) {
							tipError(a + "印花不存在");
							changestatus(id);
							return false;
						}
						if (e == "A" || e == "B") {
							if (g) {
								window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
								window.external.cexptai();
							} else {
								changestatus(id);
							}
						} else if (e == "D") {
							if (g) {
								window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
								window.external.cexptyunatu();
								for (var i = 0; i < d; i++) {
									window.external.printjs2(1, "Godex EZ920");
								}
							} else {
								changestatus(id);
							}
						} else if (e == "C") {
							if (g) {
								window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
								for (var i = 0; i < d; i++) {
									window.external.printjs2(1, "Godex EZ920");
								}
							} else {
								changestatus(id);
							}
						} else if (e == "E") {
							window.external.giveaisize(a, b, c, d, e, g, x, y, angle, colorname, sizename, stylename, boid, sumnum);
							for (var i = 0; i < d; i++) {
								window.external.printjs2(1, "Godex EZ920");
							}
						}
					} else {
						tipError(data.msg);
					}
				}
			})
			gotowhile();
		}
		//改变状态
		function changestatus(id) {
			$.ajax({
				url: headurl + "/OrderController/changeRunOrderStatus",
				type: 'post',
				async: false,
				data: { roid: id },
				success: function (data) {
					successnum = successnum - 1;
					errornum = errornum + 1;
				}
			})
		}
		//停产执行单
		function stoponeex(roid) {
			var myDate = new Date();
			$.ajax({
				url: headurl + "/OrderController/runOrderdetail?roid=" + roid + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						var html = template('stopmodalmin', data.body);
						document.getElementById('stopmodal').innerHTML = html;
						icheckinit()
						$('#stopmodal').modal('show');
					} else {
						tipError(data.msg);
					}
				}
			})
		}
		//确定停产
		function stopclick(roid) {
			var num = $('#stopmodal').find('.modalnum').html();
			var minnum = $('#stopmodal').find('.stopnuminput').val();
			if (minnum - num > 0 || minnum <= 0) {
				$('.errorttp').css('display', 'block');
				return false;
			}
			$('#stopmodal').modal('hide');
			$.ajax({
				url: headurl + "/OrderController/stopRunOrder?roid=" + roid,
				data: { num: minnum },
				type: 'post',
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						tipSuccess('停产成功', 'search');
					} else {
						tipError(data.msg);
					}
				}
			})
		}
		//改变数字
		function changenum() {
			var num = $('#stopmodal').find('.modalnum').html();
			var minnum = $('#stopmodal').find('.stopnuminput').val();
			if (minnum - num > 0 || minnum <= 0) {
				$('.errorttp').css('display', 'block');
			} else {
				$('.errorttp').css('display', 'none');
				$('#stopmodal').find('.modalleftnum').html(num - minnum);
			}
		}
		//隐藏大图
		$('.hiddenimg').click(function () {
			$('#imgshow').modal('hide');
		})
		//显示大图
		function toshowbig(_this) {
			var imgurl = $(_this).find('.maximgurl').val();
			$('#imgshow').find('.maximg').attr('src', imgurl);
			$('#imgshow').modal('show');
		}
		//初始化选择框
		function icheckinit() {
			arr_tip_userid = [];
			$('.form-checkbox input').iCheck({
				checkboxClass: 'icheckbox_square-blue',
				increaseArea: '20%'
			});
			/*全选  取消全选*/
			var flagChecked = false;
			var checkboxnum = $('.tablediv .form-checkbox').size() - 1;
			$('.tablediv .form-checkbox').on('ifChecked', function (e) {
				if ($(this).hasClass('checkbox-all')) {
					$('.tablediv .form-checkbox').iCheck('check');
					arr_tip_userid = [];
					flagChecked = true;
					$('.tablediv .form-checkbox').each(function (i) {
						if (i != 0) {
							arr_tip_userid.push($(this).find('input').val());
						}
					})
				} else {
					if (checkboxnum == $('.tablediv input[name="square-checkbox"]:checked').size()) {
						arr_tip_userid = [];
						$('.tablediv .form-checkbox').iCheck('check');
					} else {
						var input = $(this).find('input');
						var val = input.val();
						arr_tip_userid.push(val);
					}
				}
			});
			$('.tablediv .form-checkbox').on('ifUnchecked', function (e) {
				if ($(this).hasClass('checkbox-all') && flagChecked) {
					$('.tablediv .form-checkbox').not('.checkbox-all').iCheck('uncheck');
					flagChecked = false;
					arr_tip_userid = [];
				} else {
					flagChecked = false;
					var input = $(this).find('input');
					var val = input.val();
					for (var i = 0; i < arr_tip_userid.length; i++) {
						if (arr_tip_userid[i] == val) {
							arr_tip_userid.remove(val);
							break;
						}
					}
					$('.checkbox-all').iCheck('uncheck');
				}
			});
			var tid = 0;
			$("tr").hover(function () {
				var _this = this;
				tid = setTimeout(function () {
					$(_this).find('.exename').css('display', 'block');
				}, 2000);
			}, function () {
				$(this).find('.exename').css('display', 'none');
				clearTimeout(tid);//当在1秒内退出了hover事件就取消计时代码
			});
			$('.tablediv td').hover(function () {
				$(this).parents('tr').find('td').css('background', ' #E7F3FC');
			}, function () {
				$(this).parents('tr').find('td').css('background', ' #FFF')
			});
			$('.allover').on('ifChecked', function (e) {
				$('.allover').iCheck('check');
				var num = $('#stopmodal').find('.modalnum').html();
				$('#stopmodal').find('.stopnuminput').val(num);
				changenum();
			});
			$('#text').bind('keypress', function (event) {
				if (event.keyCode == "13") {
					search();
				}
			});
		}
		//打印标识
		function oneprinte(roid) {
			var myDate = new Date();
			window.external.OpenForm(roid);
			$.ajax({
				url: headurl + "/OrderController/runOrderdetail?roid=" + roid + "&URL=" + myDate.getMinutes() + myDate.getSeconds(),
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						//showshuju(data.body)
						var e = data.body.itemnum[0];
						var a = data.body.itemnum;
						var b = data.body.stname;
						var c = data.body.size;
						var d = data.body.num;

						var colorname = data.body.colorname;
						var sizename = data.body.sizename;
						var stylename = data.body.stylename;
						var boid = data.body.boid ? data.body.boid : 0;
						var sumnum = data.body.sumnum ? data.body.sumnum : 0;
						window.external.givesize(a, b, c, d, e, colorname, sizename, stylename,boid,sumnum);
						window.external.printjs(1, "Godex EZ920");
						search();
					} else {
						tipError(data.msg);
					}
				}
			})
		}
		//$('#jindu').modal('show');
		var zgi = 0;
		var jindunnum = 0;
		var sunnum = 100;
		/*add——创建tbx下的div加文字和变宽度的方法*/
		function add() {
			jindunnum++;
			//$(".tiao").css("width",parseInt(jindunnum/sunnum*100)+"%");
			//$(".tiao").html(parseInt(jindunnum/sunnum*100)+"%")
			if (zgi == sunnum) {
				if (jindunnum >= sunnum) {
					$(".tiao").css("width", parseInt(jindunnum / sunnum * 100) + "%");
					$(".tiao").html(parseInt(jindunnum / sunnum * 100) + "%");
					errornums = sunnum - successnum;
					$('.isover').html("已成功导出" + successnum + "个合成图，失败了" + errornums + "个合成图");
					$('.isover').css('display', "block");
					$('.gotobtn').css('display', "block");
					$(".ok").html("加载完成");
					return;
				}
			}
		}
		function zdadd(zgi) {
			var tiao = $(".tiao");
			if (zgi == sunnum) {
				var xy = parseInt(Math.random() * 10 + 90);
				tiao.css("width", xy + "%").html(xy + "%");
			} else {
				tiao.css("width", parseInt(zgi / sunnum * 100) + "%").html(parseInt(zgi / sunnum * 100) + "%");
			}

		}
		function xh() {
			if (zgi > sunnum) {
				$(".tiao").css("width", parseInt(jindunnum / sunnum * 100) + "%");
				$(".tiao").html(parseInt(jindunnum / sunnum * 100) + "%");
				errornums = sunnum - successnum;
				$('.isover').html("已成功导出" + successnum + "个合成图，失败了" + errornums + "个合成图");
				$('.isover').css('display', "block");
				$('.gotobtn').css('display', "block");
				$(".ok").html("加载完成");
				return;
			}
			if (zgi <= sunnum) {
				setTimeout("xh()", 500)
				zdadd(zgi);
				zgi++;
			}
		}
		function gotowhile() {
			$('#jindu').modal('hide');
			confirmdelete("", "search1", "已成功导出" + successnum + "个合成图或打印成功，失败了" + errornum + "个合成图");
		}
// $("#confirmdelete").bind('hide.bs.modal',function(){
//   $(".modal-backdrop").remove();
//  })
	</script>
</body>

</html>