<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>订单管理</title>
	<link rel="shortcut  icon" type="image/x-icon" href="/iext/favicon.ico" media="screen" />
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../build/css/bootstrap.css">
	<link rel="stylesheet" href="../build/css/index.css">
	<link rel="stylesheet" href="../build/css/style.css">
	<link rel="stylesheet" href="../build/css/main.css">
	<link rel="stylesheet" href="../build/css/pageNav.css">
	<link rel="stylesheet" href="../build/css/jquery.datetimepicker.css">
	<link href="../build/css/blue.css" rel="stylesheet">
	<script src="../build/js/jquery-1.11.3.min.js"></script>
	<script src="../build/js/art-template.js"></script>

</head>

<body>
	<div class="link">
	</div>
	<div class="head">
	</div>
	<div class="indexbody" id="indexbody">
	</div>
	<script id="tpl" type="text/html">
		<div class="bread">
			<a href="../views/index.html">首页</a>>><a href="../views/neworderList.html">订单管理</a>
			<span style="float:right;">当前数量：{{total}}</span>
		</div>
		<div class="searchdiv clearfix">
			<span class="production" onclick="ifproduction()"><img src="../build/img/produce.png">生产</span>
			<span class="production" onclick="confirmdelete('2','allproducts','是否进行全部订单生产？');" style="left: 24px;"><img src="../build/img/produce.png">全部生产</span>
			<span class="production" onclick="reloadlist()" style="left: 40px;">刷新</span>
			<input id="datetimepicker" type="text" class="production" style="left: 80px;">
			<div class="searchmin">
				<span>生产状态：</span>
				<select id="workstatus" onchange="search()">
					<option value="">全部</option>
					<option value="1" {{if workstatus==1}}selected{{/if}}>待生产</option>
					<option value="2" {{if workstatus==2}}selected{{/if}}>生产中</option>
					<option value="3" {{if workstatus==3}}selected{{/if}}>停产</option>
					<option value="4" {{if workstatus==4}}selected{{/if}}>完成</option>
					<option value="5" {{if workstatus==5}}selected{{/if}}>生产异常</option>
				</select>
				<input type="text" placeholder="请输入订单号" id="text" value="{{text}}" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\.]/g,'')">
				<img src="../build/img/search.png" class="searchimg" onclick="search()">
			</div>
		</div>
		<div class="tablediv">
			<table>
				<tr>
					<th style="width: 5%;"><div class="form-checkbox checkbox-all"><input type="checkbox"  name="square-checkbox"></div></th>
					<th style="width: 5%;">序号</th>
					<th style="width: 10%;">订单号</th>
					<th style="width: 10%;">创建日期</th>
					<th style="width: 10%;">订单状态</th>
					<th style="width: 10%;">生产状态</th>
					<th style="width: 15%;">描述</th>
					<th style="width: 5%;">操作</th>
					<th style="width: 5%;">备注</th>
				</tr>
				{{if total>0}}
				{{each result as value i}}
				<tr>
					<td>
					<div class="form-checkbox">
                   		<input type="checkbox"  name="square-checkbox"  class="form-radio" value="{{value.boid}}" >
                   	</div>
					</td>
					<td>{{i+1}}</td>
					<td>{{value.orderid}}</td>
					<td>{{value.createtime}}</td>
					<td>{{if value.status==1}}待付款{{/if}}
						{{if value.status==2}}待发货{{/if}}
						{{if value.status==4}}待收货{{/if}}
						{{if value.status==8}}交易成功{{/if}}
						{{if value.status==9}}交易取消{{/if}}
						{{if value.status==11}}其他{{/if}}
					</td>
					<td>{{if value.workstatus==1}}<span class="firsttype">待生产</span>{{/if}}
						{{if value.workstatus==2}}<span class="secoundtype">生产中</span>{{/if}}
						{{if value.workstatus==3}}<span class="thirdtype">停产</span>{{/if}}
						{{if value.workstatus==4}}<span class="fourthtype">完成</span>{{/if}}
						{{if value.workstatus==5}}<span class="thirdtype">印花缺失</span>{{/if}}</td>
					<td>
						<ul>
							{{each value.desc as obj}}
							<li>{{obj.itemnum}}({{obj.num}}件)</li>
							{{/each}}
						</ul>
					</td>
					<td class="dosome">
						<div class="showul">
							<span>操作</span>
							<ul>
								<li onclick="confirmdelete('{{value.boid}}','product','是否进行该订单生产？')">生产</li>
								<li onclick="confirmdelete('{{value.boid}}','stopproduct','是否停止该订单生产？')">停产</li>
								<li onclick="gowork('{{value.boid}}')">查看工单</li>
							</ul>
						</div>
					</td>
					<td class="tdtitle" title="{{value.remark}}">{{value.remark}}</td>
				</tr>
				{{/each}}
				{{/if}}
			</table>
			{{if total>0}}<nav aria-label="Page navigation" class="page-nav-outer" id="PageNavId"></nav>{{/if}}
			{{if total<=0}}
				<div class="emptyContent">
					<img src="../build/img/no_no.png">
					<p>暂无订相关内容</p>
				</div>
			{{/if}}
		</div>
	</script>
	<!-- 多个生产报错 -->
	<div class="modal fade tipModal" id="startmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">

	</div><!-- /.modal弹框 myModal-delete删除 -->
	<script type="text/html" id="startcontent">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title" style="padding-top: 14px;padding-left: 16px;color: #666;font-weight:bold;">异常，是否继续生产</div>
			</div>
			<div class="modal-body clearfix bottomlen">
				<div>商家编码：<span>{{id}}</span>,印花缺失，生产异常，是否继续生产其他订单</div>
			</div>
			<div class="btdiv clearfix">
				<span class="modalimgerror"></span>
				<button class="btn btn-blue yesbtn" onclick="qiangproducts()">确定</button>
				<a class="btn btn-default nobtn" data-dismiss="modal"  aria-hidden="true">取 消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>
	<!-- 图片信息 -->
	<!-- 全部生产报错 -->
	<div class="modal fade tipModal" id="startmodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">

	</div><!-- /.modal弹框 myModal-delete删除 -->
	<script type="text/html" id="startcontent1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title" style="padding-top: 14px;padding-left: 16px;color: #666;font-weight:bold;">异常，是否继续生产</div>
			</div>
			<div class="modal-body clearfix bottomlen">
				<div>商家编码：<span>{{id}}</span>,印花缺失，生产异常，是否继续生产其他订单</div>
			</div>
			<div class="btdiv clearfix">
				<span class="modalimgerror"></span>
				<button class="btn btn-blue yesbtn" onclick="allproducts(1)">确定</button>
				<a class="btn btn-default nobtn" data-dismiss="modal"  aria-hidden="true">取 消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>
	<!-- 图片信息 -->
	<div class="modal fade tipModal hiddenimg" id="logininghow" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:400px;height:300px;margin-top: 20%;">
			<div class="modal-content">
				<img src="../build/img/logining.gif">
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal弹框 myModal-delete删除 -->
	<script src="../build/js/bootstrap.js"></script>
	<script src="../build/js/jquery.icheck.min.js"></script>
	<script src="../build/js/main.js"></script>
	<script src="../build/js/pageNav.js"></script>
	<script src="../build/js/jquery.datetimepicker.full.min.js"></script>
	<script>
		var kucunisok = [];
		var myorderid;
		var arr_tip_userid = new Array();
		//进入加载
		$(function () {
			var myDate = new Date();
			$.ajax({
				url: headurl + "/OrderController/OrderList?URL=" + myDate.getMinutes() + myDate.getSeconds(),
				data: { workstatus: 1 },
				success: function (data) {
					var data = eval('(' + data + ')');
					var html = template('tpl', data.body);
					document.getElementById('indexbody').innerHTML = html;
					icheckinit();
					if (data.body.total > 0) {
						var pageNavObj = null;//用于储存分页对象
						pageNavObj = new PageNavCreate("PageNavId", { pageCount: data.body.pages, currentPage: data.body.pageNum, perPageNum: data.body.pageSize });
						pageNavObj.afterClick(search);
					}
				}
			})
			$('.link').load('../views/link.html');
			$('.head').load('../views/header2.html');
			icheckinit();
		})
		function search(pageNum) {
			var myDate = new Date();
			var text = $("#text").val();
			var workstatus = $("#workstatus").val();
			$.ajax({
				url: headurl + "/OrderController/OrderList?URL=" + myDate.getMinutes() + myDate.getSeconds(),
				data: { text: text, workstatus: workstatus, pageNum: pageNum },
				success: function (data) {
					var data = eval('(' + data + ')');
					var html = template('tpl', data.body);
					document.getElementById('indexbody').innerHTML = html;
					icheckinit();
					if (data.body.total > 0) {
						var pageNavObj = null;//用于储存分页对象
						pageNavObj = new PageNavCreate("PageNavId", { pageCount: data.body.pages, currentPage: data.body.pageNum, perPageNum: data.body.pageSize });
						pageNavObj.afterClick(search);
					}
				}
			})
		}

		//刷新
		function reloadlist() {
			var myDate = new Date();
			var timeDate = $("#datetimepicker").val();
			var lastdate = '';
			if(timeDate.length > 0) {
				var Time = new Date(timeDate);
				var timestemp = Time.getTime();
				var lasttime = (timestemp + 1 * 60 * 60 * 1000)
				var lastdate = formateDate(lasttime,'Y-M-D H:I');
			}
			
			$.ajax({
				url: headurl + "/OrderController/getOrderBeanByHand?URL=" + myDate.getMinutes() + myDate.getSeconds(),
				data: {startTime: timeDate,endTime: lastdate},
				success: function (data) {
					if (data.success == 1) {
						tipSuccess('刷新成功');
						search(1);
					}else{
						tipError('刷新失败');
					}
					
				}
			})
		}

		//全部生产
		function allproducts(type) {
			$("#startmodal1").modal('hide');
			kucunisok = [];
			$("#logininghow").modal('show');
			$.ajax({
				url: headurl + "/OrderController/allStart",
				type: 'post',
				data: { type: type },
				success: function (data) {
					$("#logininghow").modal('hide');
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						tipSuccess('生产成功了' + data.body.normalcount + "个订单，生产失败了" + data.body.exceptioncount + "个订单", 'search');
					} else {
						//tipError(data.msg);
						var html = template('startcontent1', { id: data.body.itemnum });
						document.getElementById('startmodal1').innerHTML = html;
						$("#startmodal1").modal('show');
					}
				}
			})
		}
		//生产
		function product(boid) {
			kucunisok = [];
			$.ajax({
				url: headurl + "/OrderController/starOrderPrepear",
				type: 'post',
				data: { boids: boid },
				success: function (data) {
					$.ajax({
						url: headurl + "/OrderController/starOrder",
						type: 'post',
						data: { boid: boid, type: 2 },
						success: function (data) {
							var data = eval('(' + data + ')');
							if (data.success == 1) {
								tipSuccess('生产成功了' + data.body.normalcount + "个订单，生产失败了" + data.body.exceptioncount + "个订单", 'search');
							} else {
								tipError(data.msg);
							}
						}
					})
				}
			})

		}
		//生产
		function products(boids) {
			var boidst = "";
			var boidsts = "";
			for (var i = 0; i < boids.length; i++) {
				if (i == 0) {
					boidst += boids[i];
					boidsts += boids[i];
				} else {
					boidst += "&boid=" + boids[i];
					boidsts += "&boids=" + boids[i];
				}
			}
			$.ajax({
				url: headurl + "/OrderController/starOrderPrepear?boids=" + boidsts,
				type: 'post',
				data: {},
				success: function (data) {
				}
			})
			$.ajax({
				url: headurl + "/OrderController/starOrder?boid=" + boidst,
				type: 'post',
				data: { type: 2 },
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						tipSuccess('生产成功了' + data.body.normalcount + "个订单，生产失败了" + data.body.exceptioncount + "个订单", 'search');
					} else {
						//tipError(data.msg);
						var html = template('startcontent', { id: data.body.itemnum });
						document.getElementById('startmodal').innerHTML = html;
						$("#startmodal").modal('show');
					}
				}
			})
		}
		//强制生产
		function qiangproducts() {
			$("#startmodal").modal('hide');
			var boidst = "";
			var boids = arr_tip_userid;
			for (var i = 0; i < boids.length; i++) {
				if (i == 0) {
					boidst += boids[i];
				} else {
					boidst += "&boid=" + boids[i];
				}
			}
			$.ajax({
				url: headurl + "/OrderController/starOrder?boid=" + boidst,
				type: 'post',
				data: { type: 1 },
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						tipSuccess('生产成功了' + data.body.normalcount + "个订单，生产失败了" + data.body.exceptioncount + "个订单", 'search');
					} else {
						tipError(data.msg);
					}
				}
			})
		}
		//停止生产
		function stopproduct(boid) {
			$.ajax({
				url: headurl + "/OrderController/stopOrder",
				type: 'post',
				data: { boid: boid },
				success: function (data) {
					var data = eval('(' + data + ')');
					if (data.success == 1) {
						tipSuccess('操作成功', 'search');
					} else {
						tipError(data.msg);
					}
				}
			})
		}
		//添加工单
		// function creatwork(orderid){
		// 	location.href="../views/newwork.html?orderid="+orderid;
		// }
		//工单详情
		function gowork(boid) {
			location.href = "../views/newworkorder.html?boid=" + boid;
		}

		//判断选择框是否为空
		function ifproduction() {
			if (arr_tip_userid.length > 0) {
				confirmdelete(arr_tip_userid, 'products', '是否进行该订单生产？');
			} else {
				tipError('请选择订单');
			}
		}
		//初始化选择框
		function icheckinit() {
			$('#datetimepicker').datetimepicker(
				{
					lang: "ch",
					format: "Y-m-d H:i",      //格式化日期
				}
			);
			$.datetimepicker.setLocale('ch');//设置中文
			arr_tip_userid = [];
			$('.form-checkbox input').iCheck({
				checkboxClass: 'icheckbox_square-blue',
				increaseArea: '20%'
			});
			/*全选  取消全选*/
			var flagChecked = false;
			var checkboxnum = $('.tablediv .form-checkbox').size() - 1;
			$('.tablediv .form-checkbox').on('ifChecked', function (e) {
				if ($(this).hasClass('checkbox-all')) {
					$('.tablediv .form-checkbox').iCheck('check');
					arr_tip_userid = [];
					flagChecked = true;
					$('.tablediv .form-checkbox').each(function (i) {
						if (i != 0) {
							arr_tip_userid.push($(this).find('input').val());
						}
					})
				} else {
					if (checkboxnum == $('.tablediv input[name="square-checkbox"]:checked').size()) {
						arr_tip_userid = [];
						$('.tablediv .form-checkbox').iCheck('check');
					} else {
						var input = $(this).find('input');
						var val = input.val();
						arr_tip_userid.push(val);
					}
				}
			});
			$('.tablediv .form-checkbox').on('ifUnchecked', function (e) {
				if ($(this).hasClass('checkbox-all') && flagChecked) {
					$('.tablediv .form-checkbox').not('.checkbox-all').iCheck('uncheck');
					flagChecked = false;
					arr_tip_userid = [];
				} else {
					flagChecked = false;
					var input = $(this).find('input');
					var val = input.val();
					for (var i = 0; i < arr_tip_userid.length; i++) {
						if (arr_tip_userid[i] == val) {
							arr_tip_userid.remove(val);
							break;
						}
					}
					$('.checkbox-all').iCheck('uncheck');
				}
			});
			$('.tablediv td').hover(function () {
				$(this).parents('tr').find('td').css('background', ' #E7F3FC');
			}, function () {
				$(this).parents('tr').find('td').css('background', ' #FFF')
			});
			$('#text').bind('keypress', function (event) {
				if (event.keyCode == "13") {
					search();
				}
			});
			$('.tdtitle').each(function () {
				if ($(this).html().length > 10) {
					$(this).html($(this).html().substring(0, 10) + "..");
				}
			})
			$('.showul').each(function () {
				if ($(this).find('li').length <= 0) {
					$(this).find('span').css("color", "#999")
				}
			})
		}

		//ceshi
		function ceshi() {
			window.external.OpenForm("31");
			window.external.givesize("A小猪长袖", "小猪配企", "XXL", "100");
			window.external.islood("Gprinter GP-1524T");
			window.external.printjs(1, "Gprinter GP-1524T");
		}

		function formateDate(strTime, format, needMap) {
			strTime = Number(strTime);
			format = format || 'Y-M-D H:I:S';
			var date = new Date(strTime);
			var dateMap = {
				y: (date.getFullYear() + '').slice(2),
				Y: date.getFullYear(),
				M: date.getMonth() > 8 ? date.getMonth() + 1 : ('0' + (date.getMonth() + 1)),
				D: date.getDate() > 9 ? date.getDate() : ('0' + date.getDate()),
				h: date.getHours() % 12,
				H: date.getHours(),
				i: date.getMinutes(),
				s: date.getSeconds(),
				I: date.getMinutes() > 9 ? date.getMinutes() : ('0' + date.getMinutes()),
				S: date.getSeconds() > 9 ? date.getSeconds() : ('0' + date.getSeconds()),
				A: date.getHours() >= 12 ? 'pm' : 'am',
				w: date.getDay(),
				W: ['日', '一', '二', '三', '四', '五', '六'][date.getDay()]
			};
			for (var k in dateMap) {
				format = format.replace(new RegExp(k, 'g'), dateMap[k]);
			}
			if (needMap) {
				return dateMap;
			}
			return format;
		}
	</script>
</body>

</html>