<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>工单管理</title>
	<link rel="shortcut  icon" type="image/x-icon" href="/iext/favicon.ico" media="screen"  />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../build/css/bootstrap.css">
    <link rel="stylesheet" href="../build/css/index.css">
    <link rel="stylesheet" href="../build/css/style.css">
	<link rel="stylesheet" href="../build/css/main.css">
	<link rel="stylesheet" href="../build/css/pageNav.css">
    <link href="../build/css/blue.css" rel="stylesheet">
	<script src="../build/js/jquery-1.11.3.min.js"></script>
	<script src="../build/js/art-template.js"></script>
</head>
<body>
	<div class="link">
	</div>
	<div class="head">
	</div>
	<div class="indexbody" id="indexbody">
	</div>
	<script id="workorders" type="text/html">
		<div class="bread">
			<a>首页</a>{{if boid}}>><a href="../views/neworderList.html">订单管理</a>{{/if}}>><a href="../views/newworkorder.html?boid={{boid}}">工单管理</a>
		</div>
		<div class="searchdiv clearfix">
			<span class="production" onclick="ifproduction()"><img src="../build/img/stop.png">停止生产</span>
			{{if orderid}}<span class="workordernum">订单：{{orderid}}</span>{{/if}}
			{{if logisticsnum}}<span class="workordernum">物流单：{{logisticsnum}}</span>{{/if}}
			<div class="searchmin">
				<span>生产状态：</span>
				<select id="workstatus" onchange="search()">
					<option value="">全部</option>
					<option value="1" {{if workstatus==1}}selected{{/if}}>待生产({{if waitcount}}{{waitcount}}{{else}}0{{/if}})</option>
					<option value="2" {{if workstatus==2}}selected{{/if}}>生产中({{if runningcount}}{{runningcount}}{{else}}0{{/if}})</option>
					<option value="3" {{if workstatus==3}}selected{{/if}}>中断({{if interruptcount}}{{interruptcount}}{{else}}0{{/if}})</option>
					<option value="4" {{if workstatus==4}}selected{{/if}}>完成({{if finishcount}}{{finishcount}}{{else}}0{{/if}})</option>
				</select>
				<input type="text" placeholder="请输入订单号或买家姓名" id="text" value="{{text}}" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\.]/g,'')">
				<img src="../build/img/search.png" class="searchimg" onclick="search()">
			</div>
		</div>
		<div class="tablediv">
			<table>
				<tr>
					<th style="width: 5%;"><div class="form-checkbox checkbox-all"><input type="checkbox"  name="square-checkbox"></div></th>
					<th>序号</th>
					<th style="width: 15%;">商家编码</th>
					<th style="width: 5%;">数量</th>
					<th style="width: 10%;">创建日期</th>
					<th style="width: 10%;">订单号</th>
					<th style="width: 10%;">订单状态</th>
					<th style="width: 10%;">工单状态</th>
					<th>操作</th>
				</tr>
				{{if pagelist.total>0}}
				{{each pagelist.result as value i}}
				<tr>
					<td>
					<div class="form-checkbox">
							<input type="checkbox"  name="square-checkbox"  class="form-radio" value="{{value.woid}}" >
						</div>
					</td>
					<td>{{i+1}}</td>
					<td>
						<ul>
							{{each value.runorder as obj}}
							<li>{{obj.itemnum}}</li>
							{{/each}}
						</ul>
					</td>
					<td>
						<ul>
							{{each value.runorder as obj}}
							<li>{{obj.num}}</li>
							{{/each}}
						</ul>
					</td>
					<td>{{value.createtime}}</td>
					<td class="orederlogi">{{value.orderid}}</td>
					<td>{{if value.orderstatus==1}}待付款{{/if}}
						{{if value.orderstatus==2}}待发货{{/if}}
						{{if value.orderstatus==3}}待收货{{/if}}
						{{if value.orderstatus==4}}待评价{{/if}}
						{{if value.orderstatus==5}}交易关闭{{/if}}
						{{if value.orderstatus==6}}交易完成{{/if}}</td>
					<td>{{if value.workstatus==1}}待生产{{/if}}
						{{if value.workstatus==2}}执行中{{/if}}
						{{if value.workstatus==3}}中断{{/if}}
						{{if value.workstatus==4}}完成{{/if}}</td>
					<td>
						{{if value.workstatus==1 || value.workstatus==2}}<span class="stoppro" onclick="confirmdelete({{value.woid}},'stopproduction','是否要投入停产？')">停止生产</span><br>{{/if}}
						<span class="execution" onclick="gotoex('{{value.woid}}')">生产执行单</span>
					</td>
				</tr>
				{{/each}}
				{{/if}}
			</table>
			{{if pagelist.total>0}}<nav aria-label="Page navigation" class="page-nav-outer" id="PageNavId"></nav>{{/if}}
			{{if pagelist.total<=0}}
				<div class="emptyContent">
					<img src="../build/img/no_no.png">
					<p>暂无工单相关内容</p>
				</div>
			{{/if}}
		</div>
	</script>
<!-- 物流信息 -->
<div class="modal fade tipModal" id="logistics" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   
</div><!-- /.modal弹框 myModal-delete删除 -->
<script type="text/html" id="modallogi">
<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="../build/img/win_close.png"></button>
				<div class="modal-title" style="padding-top: 14px;padding-left: 16px;color: #666;font-weight:bold;">物流信息</div>
			</div>
			<div class="modal-body clearfix bottomlen" style="padding-bottom:0;">
				<div class="modallog">
					<p><label>来自订单：</label><span>{{orderid}}</span></p>
					<p><label>物流编号：</label><span>{{menber}}</span></p>
					<p><label>买家姓名：</label><span>{{buyer}}</span></p>
					<p><label style="vertical-align: top;">地址信息：</label><span class="logadress">{{province}}{{city}}{{county}}{{address}}</span></p>
					<p><label>联系方式：</label><span>{{phone}}</span></p>
				</div>
			</div>
			<div class="btdiv clearfix">
				<button class="btn btn-blue yesbtn" data-dismiss="modal" aria-hidden="true">确定</button>
			</div>
		</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
</script>
<script src="../build/js/bootstrap.js"></script>
<script src="../build/js/jquery.icheck.min.js"></script>
<script src="../build/js/main.js"></script>
<script src="../build/js/pageNav.js"></script>
<script>
var arr_tip_userid = new Array();
var boid = getQueryString('boid');
if(boid==null){
	boid='';
}
function search(pageNum){
	var myDate = new Date();
	var text=$("#text").val();
	var workstatus=$("#workstatus").val();
	$.ajax({
		url:headurl+"/OrderController/workOrderList?boid="+boid+"&URL="+myDate.getMinutes()+myDate.getSeconds(),
		data:{text:text,workstatus:workstatus,pageNum:pageNum},
		success:function(data){
			var data = eval('(' + data + ')');
			if(data.success==1){
			var html = template('workorders',data.body);
			document.getElementById('indexbody').innerHTML = html;
			icheckinit();
			if(data.body.pagelist.total>0){
				var pageNavObj = null;//用于储存分页对象
				pageNavObj = new PageNavCreate("PageNavId",{ pageCount:data.body.pagelist.pages, currentPage:data.body.pagelist.pageNum, perPageNum:data.body.pagelist.pageSize});
				pageNavObj.afterClick(search);
			}
			}else {
				tipError(data.msg);
			}
		}
	})
}
$(function(){
	var myDate = new Date();
	$.ajax({
		url:headurl+"/OrderController/workOrderList?boid="+boid+"&URL="+myDate.getMinutes()+myDate.getSeconds(),
		success:function(data){
			var data = eval('(' + data + ')');
			if(data.success==1){
				var html = template('workorders',data.body);
				document.getElementById('indexbody').innerHTML = html;
				icheckinit();
				if(data.body.pagelist.total>0){
					var pageNavObj = null;//用于储存分页对象
					pageNavObj = new PageNavCreate("PageNavId",{ pageCount:data.body.pagelist.pages, currentPage:data.body.pagelist.pageNum, perPageNum:data.body.pagelist.pageSize});
					pageNavObj.afterClick(search);
				}
			}else {
				tipError(data.msg);
			}
			
		}
	})
	$('.link').load('../views/link.html');
	$('.head').load('../views/header2.html');
	
	/*
	PageNavId://盒子的id名
	pageCount://总页数
	currentPage://当前页
	perPageNum://每页按钮数(非必须,默认5)
	pageNavObj.afterClick()
	*/
})
//判断选择框是否为空
function ifproduction(){
	if(arr_tip_userid.length>0){
		confirmdelete(arr_tip_userid,'stopproductions','是否要投入停产？')
	}else{
		tipError('请选择工单');
	}
}
//停止生产
function stopproduction(woid){
	$.ajax({
		url:headurl+"/OrderController/stopWorkOrder",
		type:'post',
		data:{woid:woid},
		success:function(data){
			var data = eval('(' + data + ')');
			if(data.success==1){
			tipSuccess('停止生产成功',"search");
			}else{
					tipError(data.msg);
				}
		}
	})
}
//停止生产
function stopproductions(woids){
	var woidst="";
	for(var i = 0;i<woids.length;i++){
		if(i==0){
			woidst += woids[i];
		}else {
			woidst += "&woid="+woids[i];
		}
	}
	$.ajax({
		url:headurl+"/OrderController/stopWorkOrder?woid="+woidst,
		type:'post',
		success:function(data){
			var data = eval('(' + data + ')');
			if(data.success==1){
				tipSuccess('停止生产成功','search');
			}else {
					tipError(data.msg);
				}
		}
	})
}
//查看物流
function showlog(woid){
	var myDate = new Date();
	$.ajax({
		url:headurl+"/OrderController/workOrderDetail?woid="+woid+"&URL="+myDate.getMinutes()+myDate.getSeconds(),
		success:function(data){
			var data = eval('(' + data + ')');
			if(data.success==1){
				var html = template('modallogi',data.body);
				document.getElementById('logistics').innerHTML = html;
				if(data.body.menber){
					$('#logistics').modal('show');
				}else{
					tipError("暂无物流信息");
				}
			}else {
				tipError(data.msg);
			}
			
		}
	})
	
}
//去生产执行单列表
function gotoex(woid){
	location.href="../views/newexeculist.html?woid="+woid+"&boid="+boid;
}
//初始化选择框
function icheckinit(){
	arr_tip_userid=[];
	$('.form-checkbox input').iCheck({
		checkboxClass: 'icheckbox_square-blue',
		increaseArea: '20%'
	});
	/*全选  取消全选*/
    var flagChecked=false;
    var checkboxnum=$('.tablediv .form-checkbox').size()-1;
    $('.tablediv .form-checkbox').on('ifChecked',function(e){
        if($(this).hasClass('checkbox-all')){
			$('.tablediv .form-checkbox').iCheck('check');
			arr_tip_userid=[];
			flagChecked=true;
			$('.tablediv .form-checkbox').each(function(i){
				if(i!=0){
					arr_tip_userid.push($(this).find('input').val());
				}
			})
        }else{
        	if(checkboxnum==$('.tablediv input[name="square-checkbox"]:checked').size()){
				arr_tip_userid=[];
				$('.tablediv .form-checkbox').iCheck('check');
			}else{
				var input = $(this).find('input');
				var val = input.val();
				arr_tip_userid.push(val);
			}
		}
    });
    $('.tablediv .form-checkbox').on('ifUnchecked',function(e){
    	if($(this).hasClass('checkbox-all')&&flagChecked){
			$('.tablediv .form-checkbox').not('.checkbox-all').iCheck('uncheck');
			flagChecked=false;
			arr_tip_userid=[];
    	}else{
			flagChecked=false;
			var input = $(this).find('input');
	    	var val = input.val();
	    	for (var i=0;i<arr_tip_userid.length;i++) {
	    		if (arr_tip_userid[i] == val) {
					arr_tip_userid.remove(val);
	    			break;
	    		}
	    	}
			$('.checkbox-all').iCheck('uncheck');
		}
    });
	$('.tablediv td').hover(function(){
	$(this).parents('tr').find('td').css('background',' #E7F3FC');
	},function(){
		$(this).parents('tr').find('td').css('background',' #FFF')
	});
	$('#text').bind('keypress',function(event){
            if(event.keyCode == "13")    
            {
                search();
            }
        });
} 
</script>
</body>
</html>